# Copy this to secrets.yml and fill in your API keys
radarr_hd_url: http://radarr_hd:7878
radarr_hd_api_key: YOUR_API_KEY
radarr_4k_url: http://radarr_4k:7878
radarr_4k_api_key: YOUR_API_KEY
radarr_anime_url: http://radarr_anime:7878
radarr_anime_api_key: YOUR_API_KEY
sonarr_hd_url: http://sonarr_hd:8989
sonarr_hd_api_key: YOUR_API_KEY
sonarr_4k_url: http://sonarr_4k:8989
sonarr_4k_api_key: YOUR_API_KEY
sonarr_anime_url: http://sonarr_anime:8989
sonarr_anime_api_key: YOUR_API_KEY
